@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~bulma/bulma";

.navbar-item {
    &.has-dropdown {
        .navbar-dropdown {
            display: none;
        }

        &:focus {
            font-size: 40px;
        }

        &.is-active {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.box-shadow {
    // Based on bulma cards box shadow
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}
