@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~bulma/bulma";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

.navbar-item {
    &.has-dropdown {
        .navbar-dropdown {
            display: none;
        }

        &:focus {
            font-size: 40px;
        }

        &.is-active {
            .navbar-dropdown {
                display: block;
            }
        }
    }

    &.is-big-menu {
        position: static;

        &-title {
            margin-bottom: 0;
            padding: .375rem 1rem;
        }
    }
}

.box-shadow {
    // Based on bulma cards box shadow
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.no-focus {
    &:focus {
        outline: none;
    }
}

.has-no-after {
    &::after {
        content: "" !important;
    }
}
